<h1>Editing Attachment</h1>

<%= simple_form_for @video do |f| %>
    <%= f.input :user_id, as: :hidden, input_html: {:value => current_user.id} %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.button :submit %>
<% end %>

<%= link_to 'Back', @video %>