<p id="notice"><%= notice %></p>

<h1>Video</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Video</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.description %></td>
        <td><%= image_tag video.video.url(:thumb) %></td>
        <td class="hidden-xs hidden-sm">by
          <% if !video.user.blank? %>
              <%= video.user.username %>
          <% else %>
              admin
          <% end %>

        <td><%= link_to 'Show', video, :class => "btn btn-info" %></td>

        <% if can? :update, Video %>
            <% if current_user && video.editable_by?(current_user) %>
                <td><%= link_to "edit", edit_video_path(video), :class => "btn btn-info" %></td>
                <td><%= link_to "Delete", video_path(video), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-info" %></td>
                </td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
    <%= link_to 'New Video', new_video_path , :class => "btn btn-warning  btn-lg" %>
<% end %>


<%= paginate @videos %>