<%= javascript_include_tag 'swfobject' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Video:</strong>
  <%= video_player({:file => @video.video.url(:medium), :image => @video.video.url(:thumb)}) %>
</p>

<h2>Comments
  <%= render @video.vcomments %></h2>
<br/>
<h2><%= render partial: "vcomments/form" %></h2>
<%= link_to 'Back', videos_path %>