
<div class="row">

  <div class="col-md-6">
    <h1>Welcome to This4You.com</h1>
    <table class="table forum table-striped">
      <thead>
      <tr>
        <th class="cell-stat"></th>
        <th>
          <h3>Posts</h3>
        </th>
        <th class="cell-stat-2x hidden-xs hidden-sm">Create by</th>
      </tr>
      </thead>
      <% @posts.each do |post| %>
          <tbody>
          <tr>
            <td class="text-center"><i class=" text-primary"></i></td>
            <td>
              <h4><a href="#"><%= link_to post.title, post_path(post) %></a><br></h4>
            </td>
            <td class="hidden-xs hidden-sm">by
              <% if !post.user.blank? %>
                  <%= post.user.username %>
              <% else %>
                  admin
              <% end %>
              <br>
              <small><i class="fa fa-clock-o"></i><%= post.created_at %></small>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h1>Photo</h1>
    <% @photos.each do |photo| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag photo.image.url(:thumb) %>
            <div class="caption">
              <h3><%= photo.title %></h3>
              <small><i class="fa fa-clock-o"></i><%= photo.created_at %></small>
              <p><%= button_to 'Show', photo, :method => "get" %></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>

    <h1>Video</h1>

      <% @videos.each do |video| %>
      <div class="col-md-2 .col-md-offset-4">
          <div class="thumbnail">
            <div class="caption">
              <h3><%= video.title %></h3>
              <%= image_tag video.video.url(:thumb) %>
              <p><%= link_to 'Show', video %></p>
            </div>
          </div>
      <% end %>
    </div>

</div>