<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<% if user_signed_in? %>
    <%= link_to 'New Photo', new_photo_path %>
<% end %>
<div class="container-fluid cards-row">
  <div class="container">
    <div class="row">
      <% @photos.each do |photo| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag photo.image.url(:thumb) %>
              <div class="caption">
                <h3><%= photo.title %></h3>
                <p class="card-description"><%= photo.content %></p>
                <p><%= button_to 'Show', photo , :method => "get" %></p>
                <% if can? :update, Photo %>
                    <% if current_user && photo.editable_by?(current_user) %>
                      <p><%= button_to "edit", edit_photo_path(photo) %></p>
                      <p><%= button_to "Delete", photo_path(photo), method: :delete %></p>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<br>