<p id="notice"><%= notice %></p>

<p>
  <strong><h1><%= @photo.title %></h1></strong>
</p>

<p>
  <%= image_tag @photo.image.url(:medium) %>
</p>

<p>
  <strong><h3><%= @photo.content %></h3></strong>

</p>

<%= link_to 'Back', photos_path %>