<p id="notice"><%= notice %></p>

<p>
  <strong><h1><%= @photo.title %></h1></strong>
</p>

<p>
  <%= image_tag @photo.image.url(:medium) %>
</p>

<p>
  <strong><h3><%= @photo.content %></h3></strong>

</p>

<h2>Comments
  <%= render @photo.pcomments %></h2>
<br />
<h2><%= render partial: "pcomments/form" %></h2>
<%= link_to 'Back', photos_path %>