<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">This4u</a>
        <a class="navbar-brand" href="/posts">Post</a>
        <a class="navbar-brand" href="/photos">Photo</a>
        <a class="navbar-brand" href="/videos">Video</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-3">
        <ul class="nav navbar-nav navbar-right">r
          <% unless user_signed_in? %>
              <li><%= link_to "Registration", new_user_registration_path %></li>
              <li>  <%= link_to "Sign In", new_user_session_path %> </li>
          <% end %>
          <% if user_signed_in? %>
              <li>  <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>
          <% end %>
          <li>
            <a class="btn btn-default btn-outline btn-circle"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a>
          </li>
        </ul>
        <div class="collapse nav navbar-nav nav-collapse" id="nav-collapse3">
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <%= form_tag posts_path || photos_path, :method => 'get' do %>
                  <%= text_field_tag :search, params[:search] %>
                  <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              <% end %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>

</head>

<body>

  <%= yield %>
  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="push"><!– not have any content –></div>

</body>
<footer id="myFooter">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <ul>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Terms of service</a></li>
    </ul>
    <p class="footer-copyright">Powered by This4You.com © 2017 Copyright</p>
  </div>
  </nav>

</footer>
</html>